/GestorHojas/nbproject/private/
/GestorHojas/build/
/SincronizacionMetodos/nbproject/private/
/SincronizacionMetodos/build/
/SincronizacionSegmentos/nbproject/private/
/SincronizacionSegmentos/build/
/ActPropuesta10_Tema2/nbproject/private/
/ActPropuesta10_Tema2/build/
/Filosofo/build/
/Ejercicio_HilosProduccion/nbproject/private/
/Ejercicio_HilosProduccion/build/
/Ejercicio_HilosProduccion/dist/
/EjConcurrencia1/nbproject/private/
/EjConcurrencia1/build/
/EjConcurrencia2/nbproject/private/
/EjConcurrencia2/build/
/EjConcurrencia3/nbproject/private/
/T3/Resuelto1_EnvioString/nbproject/private/
/T3/Resuelto1_EnvioString/build/
/T3/Chat/nbproject/private/
/T3/FileSockets/nbproject/private/
/T3/FileSockets/build/
/T3/ChatSockets/nbproject/private/
/T3/ChatSockets/build/
/T3/UDPSocket/nbproject/private/
/T3/SocketUDPClient/build/
/T3/SocketUDPClient/nbproject/private/
/T3/SocketUDPServer/build/
/T3/SocketUDPServer/nbproject/private/
/T3/TransferenciaUPD/nbproject/private/
/T3/TransferenciaUPD/build/
/T3/Ejemplo122/SocketTCPClient/build/
/T3/Ejemplo122/SocketTCPClient/nbproject/private/
/T3/Ejemplo122/SocketTCPServer/build/
/T3/Ejemplo122/SocketTCPServer/nbproject/private/
/T3/Ejemplo122/SocketTCPServer/dist/
/T3/ChatSocketsMultihilo/nbproject/private/
/ExamenTPC/ExamenSocketTCP/build/
/ExamenTPC/ExamenSocketTCP/dist/
/ExamenTPC/ExamenSocketTCP/nbproject/private/
/T3/ExamenTCPMultihilo/nbproject/private/
/T3/ExamenTCPMultihilo/build/
/T4/Ejemplos/PeticionHTTPconHttpUrlConnection(J8)/nbproject/private/
/T4/Ejemplos/PeticionHTTPconParametrosconHttpUrlConnection(J8)/nbproject/private/
/T4/UrlConexion/nbproject/private/
/T4/UrlConexion/build/
/T4/PeticionTraducir/nbproject/private/
/T4/PeticionTraducir/build/
/T4/APIgiphy/nbproject/private/
/T4/CatAPI/target/
/T4/CatAPI/nbproject/
/T4/APICat/target/
/T4/SubidaDescargaFicheroFTP/target/
/T4/GetFilezillaFiles/target/
/T4/MailWindow/target/
/T4/test/target/
/T4/Encriptor/nbproject/private/
/T4/ExamenT4/target/
/T4/Encriptor/build/
/T5/AlmacenamientoSeguro/nbproject/private/
