/GestorHojas/nbproject/private/
/GestorHojas/build/
/SincronizacionMetodos/nbproject/private/
/SincronizacionMetodos/build/
/SincronizacionSegmentos/nbproject/private/
/SincronizacionSegmentos/build/
/ActPropuesta10_Tema2/nbproject/private/
/ActPropuesta10_Tema2/build/
/Filosofo/build/
/Ejercicio_HilosProduccion/nbproject/private/
/Ejercicio_HilosProduccion/build/
/Ejercicio_HilosProduccion/dist/
